@model DoubleGis.Link.Models.SearchResponse

@{
    ViewBag.Title = "Результат поиска";
}

<h1>По запросу @Model.What в @Model.Where найдено @Model.Total организаций.</h1>

@foreach (var card in @Model.Result)
{
    <a href="/card/@string.Format("{0}/{1}", card.Id, card.Hash)" class="card-link">@card.Name</a>
    <p>Рубрики: @string.Join(" ", card.Rubrics.Select(r => r.Replace('/', '-')))</p>
    <p>Aдрес: @string.Join(" ", card.Address)</p>
}