@using DoubleGis.Link.Models
@model DoubleGis.Link.Models.SearchModel
@{ViewBag.Title = "Поиск";}

@helper DysplayLinks(string name, IEnumerable<string> links)
{
    if (links != null && links.Any())
    {
        <div>
            <span class="sr-only">@name:</span>
            @foreach (var link in links)
            {
                var uri = new Uri(link);
                <a href="@link">@(uri.Host + uri.PathAndQuery)</a>
            }
        </div>
    }
}

<h4 class="text-capitalize">@Model.What</h4>
<p>@Model.Where, найдено <mark>@Model.Total</mark> организаций.</p>

<hr />

@foreach (CardModel card in @Model.Cards)
{
    <h4>@card.Name</h4>

    // Description
    var descriptionParts = new List<string>();

    if (card.Type != null)
    {
        descriptionParts.Insert(0, card.Type);
    }
    
    if (card.Rubrics != null)
    {
        descriptionParts.AddRange(card.Rubrics.Select(r => r.Replace('/', '-')));
    }
    
    var description = string.Join(", ", descriptionParts);
    description = description.First().ToString().ToUpper() + description.Substring(1).ToLower();

    if (!string.IsNullOrEmpty(description))
    {
        <p>@description.</p>
    }

    <p>
        <div>
            <span class="sr-only">Aдрес:</span>
            <span>@card.Address</span>
        </div>
        
        <div>
            <span class="sr-only">Телефон:</span>
            @string.Join(", ", card.Phones)
        </div>

        <div>
            <span class="sr-only">Cайт:</span>
            @foreach (var site in card.Websites)
            {
                <a href="@site.Value">@site.Alias</a>
            }
        </div>

        <div>
            <span class="sr-only">Почта:</span>
            @foreach (var email in card.Emails)
            {
                <a href="mailto:@email">@email</a>
            }
        </div>

        @DysplayLinks("В Контакте", card.Vkontakte)
        @DysplayLinks("Инстаграм", card.Instagram)
        @DysplayLinks("Фэйсбук", card.Facebook)
        @DysplayLinks("Твиттер", card.Twitter)
    </p>
    <hr />
}

<nav>
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li>
                <a href="/@Model.What/@Model.Where/@(Model.Page-1)">
                    <span aria-hidden="true">&larr; </span>
                    <span class="hidden-xs">Назад</span>
                    <span class="visible-xs-inline sr-only">Назад</span>
                </a>
            </li>
        }
        @if (Model.HasNextPage)
        {
            <li>
                <a href="/@Model.What/@Model.Where/@(Model.Page + 1)">
                    <span class="hidden-xs">Следущая</span>
                    <span class="visible-xs-inline sr-only">Следущая</span>
                    <span aria-hidden="true"> &rarr;</span>
                </a>
            </li>
        }
    </ul>
    <ul class="pagination pull-right">
        <li><a href="/"><span>Новый поиск</span></a></li>
    </ul>
</nav>
<script src="http://catalog.api.2gis.ru/assets/apitracker.js"></script>
<script>
    @foreach (CardModel card in @Model.Cards)
    {
        @:DG.apitracker.regBC('@card.RegisterBcUrl');
        }
</script>
