@model DoubleGis.Link.Models.SearchModel

@{
    ViewBag.Title = "Поиск";
}

<h1><span class="text-capitalize">@Model.What</span> <small>@Model.Where, всего: @Model.Total</small></h1>

@foreach (var card in @Model.Cards)
{
   <a href="#" class="card-link"><strong>@card.Name</strong></a> <small>@card.Type</small>
    <div>Рубрики: @string.Join(" ", card.Rubrics.Select(r => r.Replace('/', '-')))</div>

    foreach (var field in @card.Fields)
    {
        <div>@field.Key: @string.Join(", ", field)</div>
    }
}

<script>
    @foreach (var card in @Model.Cards)
    {
        @:DG.apitracker.regBC('@card.RegisterBcUrl');
    }
</script>