@using System.Security.Policy
@using DoubleGis.Link.Models
@model DoubleGis.Link.Models.SearchModel

@{
    ViewBag.Title = "Поиск";
}

<div class="page-header">
    <h1><span class="text-capitalize">@Model.What</span> <small>@Model.Where, всего: @Model.Total</small></h1>
</div>

@foreach (CardModel card in @Model.Cards)
{
    <h2 class="card-link">@card.Name<small>@card.Type</small></h2>
    <div><span class="sr-only">Aдрес:</span>@card.Address</div>

    if (card.Rubrics != null)
    {
        <div>
            <span class="sr-only">Рубрики:</span>
            @foreach (var r in card.Rubrics)
            {
                <span>@r.Replace('/', '-')</span>
            }
        </div>
    }

    <div><span class="sr-only">Телефон:</span>@string.Join(", ", card.Phones)</div>
   
    <div>
        <span class="sr-only">Cайт:</span>
        @foreach (var site in card.Websites)
        {
            <a href="@site.Value">@site.Alias</a>
        }
    </div>

    <div>
        <span class="sr-only">Почта:</span>
        @foreach (var email in card.Emails)
        {
            <a href="mailto:@email">@email</a>
        }
    </div>

    <div>
        <span class="sr-only">В Контакте:</span>
        @foreach (var vk in card.Vkontakte)
        {
            var uri = new Uri(vk);
            <a href="@vk">@(uri.Host + uri.PathAndQuery)</a>
        }
    </div>

    <div>
        <span class="sr-only">Инстаграм:</span>
        @foreach (var v in card.Instagram)
        {
            var uri = new Uri(v);
            <a href="@v">@(uri.Host + uri.PathAndQuery)</a>
        }
    </div>

    <div>
        <span class="sr-only">Фэйсбук:</span>
        @foreach (var v in card.Facebook)
        {
            var uri = new Uri(v);
            <a href="@v">@(uri.Host + uri.PathAndQuery)</a>
        }
    </div>

    <div>
        <span class="sr-only">Твиттер:</span>
        @foreach (var v in card.Twitter)
        {
            var uri = new Uri(v);
            <a href="@v">@(uri.Host + uri.PathAndQuery)</a>
        }
    </div>
}

<nav>
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li><a href="/@Model.What/@Model.Where/@(Model.Page-1)"><span aria-hidden="true">&larr;</span> <span>Назад</span></a></li>
        }

        @if (Model.HasNextPage)
        {
            <li><a href="/@Model.What/@Model.Where/@(Model.Page + 1)"><span>Следущая</span> <span aria-hidden="true">&rarr;</span></a></li>
        }
    </ul>

    <ul class="pagination pull-right">
        <li><a href="/">Новый поиск</a></li>
    </ul>
</nav>

<script src="http://catalog.api.2gis.ru/assets/apitracker.js"></script>
<script>
    @foreach (CardModel card in @Model.Cards)
    {
        @:DG.apitracker.regBC('@card.RegisterBcUrl');
    }
</script>