@using DoubleGis.Link.Models
@model DoubleGis.Link.Models.SearchModel

@{
    ViewBag.Title = "Поиск";
}

<div class="page-header">
    <h1><span class="text-capitalize">@Model.What</span> <small>@Model.Where, всего: @Model.Total</small></h1>
</div>

@foreach (CardModel card in @Model.Cards)
{
    <h2 class="card-link">@card.Name <small>@card.Type</small></h2>
    <div>Рубрики: @string.Join(" ", card.Rubrics.Select(r => r.Replace('/', '-')))</div>

    foreach (var field in @card.Fields)
    {
        <div><span class="sr-only">@field.Key:</span> @Html.Raw(string.Join(", ", field))</div>
    }
}

<nav>
    <ul class="pagination">
        @if (Model.Page > 1)
        {
            <li><a href="/@Model.What/@Model.Where/@(Model.Page-1)"><span aria-hidden="true">&larr;</span> <span>Назад</span></a></li>
        }

        <li><a href="/@Model.What/@Model.Where/@(Model.Page+1)"><span>Следущая</span> <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
    
    <ul class="pagination pull-right">
        <li><a href="/">Новый поиск</a></li>
    </ul>
</nav>

<script src="http://catalog.api.2gis.ru/assets/apitracker.js"></script>
<script>
    @foreach (CardModel card in @Model.Cards)
    {
        @:DG.apitracker.regBC('@card.RegisterBcUrl');
    }
</script>