@model DoubleGis.Link.Models.SearchModel

@{
    ViewBag.Title = "Поиск";
}

<h1><span class="text-capitalize">@Model.What</span> <small>@Model.Where, всего: @Model.Total</small></h1>

@foreach (var card in @Model.Cards)
{
    
        <h2 class="card-link">@card.Name <small>@card.Type</small></h2> 
    
   
    
  
    <div>Рубрики: @string.Join(" ", card.Rubrics.Select(r => r.Replace('/', '-')))</div>

    foreach (var field in @card.Fields)
    {
        <div><span class="sr-only">@field.Key:</span> @Html.Raw(string.Join(", ", field))</div>
    }
}

<script>
    @foreach (var card in @Model.Cards)
    {
        @:DG.apitracker.regBC('@card.RegisterBcUrl');
    }
</script>